config DRM_LCDC
	tristate "DRM Support for TI LCDC Display Controller"
	depends on DRM && OF
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	select DISPLAY_TIMING
	select OF_DISPLAY_TIMINGS
	help
	  Choose this option if you have an TI SoC with LCDC display
	  controller, for example AM33xx in beagle-bone, DA8xx, or
	  OMAP-L1xx.  This driver replaces the FB_DA8XX fbdev driver.

menu "I2C encoder or helper chips"
	depends on DRM && DRM_KMS_HELPER && I2C

config DRM_I2C_NXP_TDA998X
	tristate "NXP Semiconductors TDA998X HDMI encoder"
	default m if DRM_LCDC
	help
	  Support for NXP Semiconductors TDA998X HDMI encoders.

endmenu
