/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/include/ "omap4-panda.dts"

/* Audio routing is differnet between PandaBoard4430 and PandaBoardES */
&sound {
	ti,model = "PandaBoardES";

	/* Audio routing */
	ti,audio-routing =
		"Headset Stereophone", "HSOL",
		"Headset Stereophone", "HSOR",
		"Ext Spk", "HFL",
		"Ext Spk", "HFR",
		"Line Out", "AUXL",
		"Line Out", "AUXR",
		"AFML", "Line In",
		"AFMR", "Line In",
		"Headset Playback", "PDM_DL1",
		"Handsfree Playback", "PDM_DL2",
		"PDM_UL1", "PDM Capture",
		"omap-mcbsp.1 Playback", "BT_VX_DL",
		"BT_VX_UL", "omap-mcbsp.1 Capture",
		"omap-mcbsp.2 Playback", "MM_EXT_DL",
		"MM_EXT_UL", "omap-mcbsp.2 Capture";
};
