menu "Compcache options"

config BLK_DEV_COMPCACHE
	tristate "Compressed RAM based swap device"
	default m
	select LZO_COMPRESS
	select LZO_DECOMPRESS
	depends on BLOCK
	help
	  This creates RAM based block device which acts as swap disk. Pages
	  swapped to this disk are compressed and stored in memory itself.
	  Project Home: http://code.google.com/p/compcache/

config BLK_DEV_COMPCACHE_DEBUG
	default n
	depends on BLK_DEV_COMPCACHE
	bool "Enable debugging"
	help
	  This causes negligible performance loss and size increase.
	  If unsure, say Y.

config BLK_DEV_COMPCACHE_STATS
	default n
	depends on BLK_DEV_COMPCACHE
	bool "Enable statistics"
	help
	  Creates /proc/compcache to export various statistics.
	  This adds about 4K to size with negligible performance loss.
	  If unsure, say Y.
 
endmenu
